@charset "EUC-JP";

/*------------------------------------------------------------

	File_name    : discount.css
	Description  : discount stylesheet

-------------------------------------------------------------- */

.notes_wrapper {
	width: 940px;
	padding: 10px;
}

/*		new
===============================================================*/

h4 {
	margin: 40px 0 5px 0;
	font-size: 16px;
	clear: both;
	font-weight: bold;
}

.lines-on-sides {
	margin: 40px 0 20px 0;
}

p {
	margin: 0;
}

.content {
	display: flex;
	margin: 0 20px;
}

.content_right {
	width: 40%;
}

.discount_img {
	margin-right: 40px;
	width: 50%;
	height: 50%;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 40px 0 12px 0;
}

.off {
	margin-top: 10px;
	clear: both;
	font-size: 28px;
	font-weight: bold;
	color: #dc0000;
}

/*
===============================================================*/

@media screen and (max-width: 768px) {
	.content {
		display: block;
		margin: 0 20px;
	}
	.discount_img {
		margin-right: 40px;
		width: 100%;
	}
	.content_right {
		width: 100%;
	}
	h4 {
		margin: 20px 0 5px 0;
		font-size: 16px;
		clear: both;
		font-weight: bold;
	}

}

h2.titlelogo {
	font-size: 250%;
	font-weight: bold;
	color: #473932;
	text-align: left;
	padding-top: 30px;
}
